<!DOCTYPE html>
 
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>product</title>
    
</head>
<body>
    <div id ='main_body'>

        <div id ='upline'>
            <h3>PANDA EDU</h3>
        </div>

        <div id ='downline'>
            <div id = 'leftzone'>
                <div id ='idzone'>
                    <p>hello <%= title %> !!!</p>
                </div>
                <div id = 'buttonzone'>
                    <button class="but1">Share</button>
                    <button class="but1">AI recommend</button>
                    <button class="but1">Solution</button>
                    <form method="post" action="/process/logout">
                    <button class="but1">Logout</button>
                    </form>
                </div>
            </div>
            <div id ='rightzone'>

            </div>
        </div>
    
        
   
 
    


    </div>
</body>
</html>

