h3{

    color: mintcream;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 20px;
    }

#main_body{

    width: 2500px;
    height: 3000px;
   background-color:  #F6F6F6;

}    


#imgzone{
  float: left;
  padding-left: 10px;
  padding-top: 20px;


}

#txtzone{
  padding-left: 10px;
  float: left;
  text-align: left;
  margin-left: 20px;
}
#leftlogozone{
    height: 80px;
    background-color: white;
    margin-left: 40px;
    margin-top: 20px;
}

#rightlogozone{
    height: 80px;
    background-color:  #F6F6F6;
}

#searchzone{
  width: 370px;
  height: 30px;
  background-color:  #F6F6F6;
  border: none;

}

#search{
  width:  400px;
  padding-top: 20px;
  border-bottom: 2px solid gray;
}


#leftzone{
    background-color: white; 
    width: 12%;
    height: 100%;
    float: left;
    box-shadow: 8px 5px 10px #A6A6A6;
}

#rightzone{
    margin-left: 10px;
    background-color: #F6F6F6;
    width: 87%;
    height: 100%;
    float: right;
}

#but1{

    width: 90%;
    height: 55px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    background-color: #36589C;  
    border: none;
    text-align: left;
    padding-left: 30px;
    box-shadow: 1px 7px 10px #A6A6A6 ;
    float: right;

}

#but2{

    width: 90%;
    height: 55px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: gray;
    background-color: white;  
    border: none;
    text-align: left;
    padding-left: 30px;


}

#but2:hover,#but2:active,#but2:focus {
  background: rgb(124, 169, 233,50);
  color: white;

}

#idzone{
    width: 100%;
    height: 100px;
    font-size: 20px;
    color: rgb(99, 85, 85);
    font-weight: bold;
    text-align: center;


}

#buttonzone{
  
    text-align: center;
    width: 100%;
    margin-top: 30px;

}


#displaydata{

    background-color: floralwhite;
    width: 80%;
    height: 100%;
    float: left;
    margin-top: 0px;
 
}

#mydisplaydata{

    width: 80%;
    height: 100%;
    float: left;
    margin-top: 0px;
}

.contents_box{
    width: 20%;
    height: 300px;
    border: none;
    float: left;
    margin: 20px;
    background-color: floralwhite;
   
}

.datatitle{
    font-size: 25px;
    color:  gray;
    border: none;
    margin-top: 3px;
}

.writername{
    font-size: 20px;
    color:  gray;
    border: none;
    margin-top: 0px;
}

#hidden{
    display: none;
}

#gowritebun{
    margin-top: 15px;
    margin-left: 10px;
    width: 200px;
    height: 50px;
    background-color: rgb(250, 177, 42);
    color: white;
    border: 7px solid rgb(255, 144, 40);
    font-size: 20px;
    float: left;

}

#gowritebun2{
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 30%;
  width: 100px;
  height: 50px;
  background-color: rgb(47, 185, 29);
  color: white;
  border: none;
  font-size: 20px;
  float: right;


}

#gowritebun3{
  margin-top: 15px;
  margin-left: 10px;
  width: 100px;
  height: 50px;
  background-color: rgb(247, 47, 12);
  color: white;
  border: none;
  font-size: 20px;
  float: right;


}

#gowritebun4{
  margin-top: 15px;
  margin-left: 10px;
  width: 100px;
  height: 50px;
  background-color: rgb(4, 191, 204);
  color: white;
  border: none;
  font-size: 20px;
  float: right;


}

#hrid{

  width: 88%;
}

#writelogout{

  padding-top: 60px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.login-page {
    width: 400px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(76, 111, 175);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: rgb(46, 80, 126);
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: rgb(76, 111, 175);
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  

.loginmain22{
    width: 1000px;
    height: 1000px;
    background-color: violet;
}

body{
    background-image: url("/uploads/main.jpeg");
    background-size: 2000px;
}